.center {
    text-align: center;
}

.questions input {
    margin-left: 40px;
    cursor: pointer;
    transition: 0.2s;
    
}
.questions input:hover{
    transform: scale(110%);
    transition: 0.2s;
}

.radioMax {
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

.radioMid {
    height: 80px;
    width: 80px;
    vertical-align: middle;
}

.radioSmall {
    height: 60px;
    width: 60px;
    vertical-align: middle;
}

.radioLast {
    height: 45px;
    width: 45px;
    vertical-align: middle;
}

.disagree {
    color: rgb(202, 0, 0);
    font-size: 30px;
}

.agree {
    color: rgb(2, 194, 2);
    font-size: 30px;
    margin-left: 40px;
}

.submitButton {
    width: 200px;
    margin: 50px;
    font-size: 40px;
    cursor: pointer;
    border: 1px gray solid;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 173, 173);
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
}

.submitButton:hover{
    transform: scale(104%);
    background-color: rgb(5, 197, 197);
    transition: 0.2s;
}
.question{
    font-size: 27px;
}

.logout-div{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 20px;
}

.logout-button{
    font-size: 20px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px;
    text-align: center;
    cursor: pointer;
    border: 2px rgb(179, 176, 176) solid;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 173, 173);
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
}

.logout-button:hover{
    transform: scale(104%);
    background-color: rgb(5, 197, 197);
    transition: 0.2s;
}

.thank-you{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
}

.return-button{
    font-size: 30px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px;
    text-align: center;
    cursor: pointer;
    border: 2px rgb(179, 176, 176) solid;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    background-color: rgb(0, 173, 173);
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
    margin-bottom: 30px;
}

.return-button:hover{
    transform: scale(104%);
    background-color: rgb(5, 197, 197);
    transition: 0.2s;
}

.center-choices{
    display: flex;
    justify-content: center;
    margin-top: 17%;
}

.query-button{
    font-size: 30px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    border: 2px rgb(179, 176, 176) solid;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    background-color: rgb(0, 173, 173);
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
    margin-left: 15px;
}

.form-button{
    font-size: 30px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    border: 2px rgb(179, 176, 176) solid;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    background-color: rgb(0, 173, 173);
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
    margin-right: 15px;
}

.form-button:hover, .query-button:hover{
    transform: scale(104%);
    background-color: rgb(5, 197, 197);
    transition: 0.2s;
}

.center-text{
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.form-query{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.system{
    font-size: 18px;
    width: 200px;
    
}

.select-button{
    margin-top: 10%;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    border: 2px rgb(179, 176, 176) solid;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    background-color: rgb(0, 173, 173);
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
    margin-right: 15px;
}

.mySlider {
    width: 500px; /* Adjust the width as needed */
    height: 20px;
    border: rgb(179, 176, 176) 2px solid;
    margin-bottom: -20px;
    margin-top: 20px;
  }

.sliderValue {
    display: inline-block;
    margin-left: 40px; /* Adjust the spacing as needed */
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -10px;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    background-color: #ffffff;
    border-radius: 13px;
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(179, 176, 176);
    border-radius: 50%;
    cursor: pointer;
  }