{% extends 'main.html' %}
{% load static %}

{% block content %}
<header class="header">
  <img style="width: 210px" src="{% static 'logo-words.png' %}" alt="">
  <div class="logout-div">
      <a href="{% url 'logout' %}" class="logout-button">Logout</a>
  </div>
</header>

{% if not user.submitted %}
  {% if user.role == "worker" %}
  <div class="center-text">
    <center>
        نظام الحاكمية الرشيدة للعاملين
    </center>
  </div>

  <div class="center">
    <form method="post">
      {% csrf_token %}
      <div class="questions">
        <br>
        <br>
        <label class="question">
          نسبة رضى العاملين عن التزام الجامعة بممارسات الحاكمية الرشيدة من ناحية المشاركة،
          والشفافية والعدالة والمساواة بين الجنسين والمساءلة والفعالية
        </label>
        <br>
        <br>
        <input class="mySlider" name="worker_question1" type="range" min="0" max="100" value="50" id="mySlider">
        <br>
        <center>
          <span class="sliderValue" id="sliderValue">50</span>
        </center>
        <br>
        <br>
        <hr>

        <br>
        <br>
        <label class="question">
          وجود سياسة وإجراءات و نماذج لإدارة شكاوى العاملين
        </label>
        <br>
        <br>
        
        <label class="agree"><strong>أوافق بشدة</strong></label>
        <input type="radio" name="worker-question2" class="radioSmall" value="100">
        <input type="radio" name="worker-question2" class="radioSmall" value="75">
        <input type="radio" name="worker-question2" class="radioSmall" value="50">
        <input type="radio" name="worker-question2" class="radioSmall" value="25">
        <input type="radio" name="worker-question2" class="radioSmall" value="0">
        <label class="disagree"><strong>لا أوافق بشدة</strong></label>
        <br>
        <br>
        <hr>

        <br>
        <br>
        <label class="question">
          نسبة شكاوى العاملين و مقترحاتهم من العاملين المتعامل معها و المحلول منا
        </label>
        <br>
        <br>
        <input class="mySlider" name="worker-question3" type="range" min="0" max="100" value="50" id="q3Slider">
        <br>
        <center>
          <span class="sliderValue" id="q3SliderValue">50</span>
        </center>
        <br>
        <br>
        <hr>

        <br>
        <br>
        <label class="question">
        نسبة رضى العاملين من فاعلية منصة الشكاوى و المقتراحات, و نسبة حل المشاكل
        </label>
        <br>
        <br>
        <input class="mySlider" name="worker-question4" type="range" min="0" max="100" value="50" id="q4Slider">
        <br>
        <center>
          <span class="sliderValue" id="q4SliderValue">50</span>
        </center>
        <br>
        <br>
        <hr>

      <input type="submit" value="Submit" class="submitButton">
      <br>
      <br>
    </form>
  </div>

  <div style="margin-bottom: 40px;">
    <center>
        <a href="{% url 'choices' %}" class="return-button">الرجوع</a>
    </center>
  </div>
  <script>
    // variables
    const slider = document.getElementById('mySlider');
    const output = document.getElementById('sliderValue');

    const q3Slider = document.getElementById('q3Slider');
    const q3output = document.getElementById('q3SliderValue');

    const q4Slider = document.getElementById('q4Slider');
    const q4output = document.getElementById('q4SliderValue');

    // span text conent
    output.textContent = slider.value; // Display the default slider value
    q3output.textContent = q3Slider.value
    q4output.textContent = q4Slider.value;
    
    // silder functions
    slider.addEventListener('input', function() {
      output.textContent = this.value; // Update the displayed value as the slider is dragged
    });

    q3Slider.addEventListener('input', function() {
      q3output.textContent = this.value; // Update the displayed value as the slider is dragged
    });

    q4Slider.addEventListener('input', function() {
      q4output.textContent = this.value; // Update the displayed value as the slider is dragged
    });

  </script>

  <!-- SLIDER SCRIPT-->
  
 
  {% elif user.role == "admin"  %}
  <div class="center-text">
    <center>
        نظام الحاكمية الرشيدة للطلاب 
    </center>
</div>

<div class="center">
  <form method="post">
    {% csrf_token %}
    <div class="questions">
      <br>
      <br>
      <label class="question">
        نسبة رضى العاملين عن التزام الجامعة بممارسات الحاكمية الرشيدة من ناحية المشاركة،
        والشفافية والعدالة والمساواة بين الجنسين والمساءلة والفعالية
      </label>

      <br>
      <br>
      <label class="question">
        وجود سياسة وإجراءات و نماذج لإدارة شكاوى العاملين
      </label>
      <br>
      <br>
      <label class="question">
        نسبة شكاوى العاملين و مقترحاتهم من العاملين المتعامل معها و المحلول منا
      </label>
      <br>
      <br>

      <label class="question">
      نسبة رضى العاملين من فاعلية منصة الشكاوى و المقتراحات, و نسبة حل المشاكل
      </label>
      <br>
      <br>

      <br>
      <label class="question">
        نسبة رضى الطلبة عن التزام الجامعة بممارسات الحاكمية الرشيدة من ناحية المشاركة، والشفافية والعدالة والمساواة بين الجنسين والمساءلة والفعالي
      </label>
    
      <br>
      <br>
      <label class="question">
        وجود سياسة و إجاءات و نماذج لإدارة شكاوى الطلبة
      </label>
      <br>
      <br>

      <label class="question">
        وجود نظام إلكتروني لإدارة الشكاوى الواردة من الطلبة
      </label>
      <br>
      <br>

      <label class="question">
        نسبة شكاوى الطلبة و مقترحاتهم المتعامل معها و المحلول منها
      </label>
      <br>
      <br>

      <label class="question">
        نسبة رضى الطلبة عن فاعلية منصة الشكاوى
      </label>
      <br>
      <br>

      <label class="question">
        عدد المخالفات المتعلقة بالقيم المؤسسية التي ارتكبها العاملون في الجامعة
      </label>
      <br>
      <br>    
      
      <label class="question">
        نسبة رضى الطلبة عن التواصل مع القيادات في الجامعة
      </label>


  </form>
  </div>

  {% elif user.role == "student"  %}
  <div class="center-text">
      <center>
          نظام الحاكمية الرشيدة للطلاب 
      </center>
  </div>

  <div class="center">
    <form method="post">
      {% csrf_token %}
      <div class="questions">
        <br>
        <br>
        <label class="question">
          نسبة رضى الطلبة عن التزام الجامعة بممارسات الحاكمية الرشيدة من ناحية المشاركة، والشفافية والعدالة والمساواة بين الجنسين والمساءلة والفعالي
        </label>
        <br>
        <br>
        <input class="mySlider" name="student-question1" type="range" min="0" max="100" value="50" id="student-question1">
        <br>
        <center>
          <span class="sliderValue" id="student-slider1">50</span>
        </center>
        <br>
        <br>
        <hr>

        <br>
        <br>
        <label class="question">
          وجود سياسة و إجاءات و نماذج لإدارة شكاوى الطلبة
        </label>
        <br>
        <br>
        <label class="agree"><strong>أوافق بشدة</strong></label>        
        <input type="radio" name="student-question2" class="radioSmall" value="100">
        <input type="radio" name="student-question2" class="radioSmall" value="75">
        <input type="radio" name="student-question2" class="radioSmall" value="50">
        <input type="radio" name="student-question2" class="radioSmall" value="25">
        <input type="radio" name="student-question2" class="radioSmall" value="0">
        <label class="disagree"><strong>لا أوافق بشدة</strong></label>
        <br>
        <br>
        <hr>

        <br>
        <br>
        <label class="question">
          وجود نظام إلكتروني لإدارة الشكاوى الواردة من الطلبة
        </label>
        <br>
        <br>
        <label class="agree"><strong>أوافق بشدة</strong></label>
        <input type="radio" name="student-question3" class="radioSmall" value="100">
        <input type="radio" name="student-question3" class="radioSmall" value="75">
        <input type="radio" name="student-question3" class="radioSmall" value="50">
        <input type="radio" name="student-question3" class="radioSmall" value="25">
        <input type="radio" name="student-question3" class="radioSmall" value="0">        
        <label class="disagree"><strong>لا أوافق بشدة</strong></label>
        <br>
        <br>
        <hr>

        <br>
        <br>
        <label class="question">
          نسبة شكاوى الطلبة و مقترحاتهم المتعامل معها و المحلول منها
        </label>
        <br>
        <br>
        <input class="mySlider" name="student-question4" type="range" min="0" max="100" value="50" id="student-question4">
        <br>
        <center>
          <span class="sliderValue" id="student-slider4">50</span>
        </center>
        <br>
        <br>
        <hr>

        <br>
        <br>
        <label class="question">
          نسبة رضى الطلبة عن فاعلية منصة الشكاوى
        </label>
        <br>
        <br>
        <input class="mySlider" name="student-question5" type="range" min="0" max="100" value="50" id="student-question5">
        <br>
        <center>
          <span class="sliderValue" id="student-slider5">50</span>
        </center>
        <br>
        <br>
        <hr>

        <br>
        <br>
        <label class="question">
          نسبة رضى الطلبة عن التواصل مع القيادات في الجامعة
        </label>
        <br>
        <br>
        <input class="mySlider" name="student-question6" type="range" min="0" max="100" value="50" id="student-question6">
        <br>
        <center>
          <span class="sliderValue" id="student-slider6">50</span>
        </center>
      </div>
      <br>
      <br>
      <hr>
      <input type="submit" value="Submit" class="submitButton">
      <br>
      <br>
    </form>

    <div style="margin-bottom: 70px;">
      <center>
        <a href="{% url 'choices' %}" class="return-button">الرجوع</a>
      </center>
    </div>
  </div>
  {% endif %}

  
  {% else %}
    <div class="thank-you">
      !شكرا لك, لقد تم تلقي الرد
      <center>
        <a href="{% url 'choices' %}" class="return-button">الرجوع</a>
      </center>
    </div>
  {% endif %}
    
{% endblock content %}