{% extends 'main.html' %}

{% block content %}

<div class="main_div">
    <div style="width:266px">
        <img class="techno-image" src="https://scontent.famm13-1.fna.fbcdn.net/v/t39.30808-6/291699529_494705525789754_437446530796483411_n.png?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=HXEu207DW_YAX9J207w&_nc_oc=AQl9SjxIjO990Fg_KkMXt8G4HpS2HgRRt3z3Fr8VOHz1SLUKId860hcd15TPJWCygwZaUNkUqOrNGJjqkjxMwKMP&_nc_ht=scontent.famm13-1.fna&oh=00_AfBamCxP-OZQ311Jx7C3iA95HPrq_YvxGOV3iQoPU9H9YQ&oe=647F9106" alt="">
    </div>

    <div style="width: 200px">
        <img src="https://th.bing.com/th/id/R.0a10bbe9b924564b5490207471089d19?rik=u4fePGcGdxlp5w&riu=http%3a%2f%2fwww.tipntag.com%2ffiles%2fget%2foriginal%2fplace%2f_526783ccf07618.60894520_UJ-logo.png&ehk=oOcJe34Y9ACHjJkaPo1fbskQPKYFMJ0bTveUxTfEDh0%3d&risl=&pid=ImgRaw&r=0" alt="University of Jordan Logo" >
    </div>

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-div">
                <div>
                    <label for="username" class="form-text">
                        Username:
                    </label>
                    <input class="form-box" type="text" name="username" id="username">
                </div>
                
                <br>
                
                <div>
                    <label for="password" class="form-text">
                        Password:
                    </label>
                    <input class="form-box" type="password" name="password" id="password">
                </div>
                
                <br>
                
                <div>
                    <div>
                        <input type="submit" value="login" class="login-button">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}