{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="main_div">
    <div style="width: 210px">
        <img  src="{% static 'logo.png' %}" alt="">
    </div>

    <div style="width: 200px">
        <img src="https://th.bing.com/th/id/R.0a10bbe9b924564b5490207471089d19?rik=u4fePGcGdxlp5w&riu=http%3a%2f%2fwww.tipntag.com%2ffiles%2fget%2foriginal%2fplace%2f_526783ccf07618.60894520_UJ-logo.png&ehk=oOcJe34Y9ACHjJkaPo1fbskQPKYFMJ0bTveUxTfEDh0%3d&risl=&pid=ImgRaw&r=0" alt="University of Jordan Logo" >
    </div>

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-div">
                <div>
                    <label for="username" class="form-text">
                        Username:
                    </label>
                    <input class="form-box" type="text" name="username" id="username">
                </div>
                
                <br>
                
                <div>
                    <label for="password" class="form-text">
                        Password:
                    </label>
                    <input class="form-box" type="password" name="password" id="password">
                </div>
                
                <br>
                
                <div>
                    <div>
                        <input type="submit" value="login" class="login-button">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}